# Credencial de ERA5 para la descarga y fusion 
CDS_API_KEY = [TU_api]

# --- Configuración General ---
# Cambia a "cloud" cuando quieras usar AlloyDB
ENV_STATE=local 
# ENV_STATE=cloud

# --- Credenciales Base de Datos (Comunes) ---
DB_USER=postgres
DB_PASSWORD=tu_password_secreto
DB_NAME=navoptima

# --- Solo para LOCAL (Docker) ---
DB_HOST=localhost
DB_PORT=5432

# --- Solo para GOOGLE CLOUD (AlloyDB) ---
GCP_PROJECT_ID=tu-proyecto-id
GCP_REGION=us-central1
ALLOYDB_CLUSTER_ID=navoptima-cluster
ALLOYDB_INSTANCE_ID=navoptima-primary